#main {

}

#graph {
  position: absolute;
  left: 0;
  top: 70px;
  width: 100%;
  height: calc(100vh - 100px);
}

.graph-container {
  width: 800px;
}

#control {
  width: 320px;
  height: 800px;
}

#list {
  width: 300px;
  height: 300px;
  margin: 10px;
}

#details {
  width: 300px;
  height: 300px;
  margin: 10px;
}

#leaderboard_table {
  width: 95%;
  margin: 10px;
}

#details_table {
  width: 95%;
  margin: 10px;
}

.bordered {
  border: 2px solid grey;
}

#leaderboard_div {
  height: 290px;
}

#details_div {
  height: 290px;
}

.scrollit {
  overflow: scroll;
}

table tr:nth-child(even) {
  background-color: #fff;
}

table th {
  text-align: left;
}

.banner-box {
  z-index: 3;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 660px;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
}

.banner-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.banner-content {
  display: flex;
  justify-content: space-between;
}

.left-box {
  position: absolute;
  top: 220px;
  left: 0;
  background-color: #fff;
}

.right-box {
  position: absolute;
  top: 220px;
  right: 0;
  background-color: #fff;
}