/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3366FF;
  --ifm-color-primary-dark: #144fff;
  --ifm-color-primary-darker: #0544ff;
  --ifm-color-primary-darkest: #0036d6;
  --ifm-color-primary-light: #527dff;
  --ifm-color-primary-lighter: #6188ff;
  --ifm-color-primary-lightest: #89a6ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --banner-height: 40px;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-background-color: #121B2E !important;
  --ifm-color-primary: #6690FF;
  --ifm-color-primary-dark: #4276ff;
  --ifm-color-primary-darker: #3069ff;
  --ifm-color-primary-darkest: #0045fa;
  --ifm-color-primary-light: #8aaaff;
  --ifm-color-primary-lighter: #9cb7ff;
  --ifm-color-primary-lightest: #cad9ff;
  --ifm-font-color-base-inverse: #ffffff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.fixed-banner {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--banner-height);
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px 10px;
  z-index: 1000;
}

@media (max-width: 768px) {
  .fixed-banner {
    height: calc(var(--banner-height) * 3);
  }
}

.fixed-banner a {
  color: white;
  text-decoration: underline;
}

.banner-placeholder {
  height: var(--banner-height);
}

@media (max-width: 768px) {
  .banner-placeholder {
    height: calc(var(--banner-height) * 3);
  }
}

blockquote {
  border-left: 6px solid #e0e1da;
  background-color: #ebfbfa;
  color: #5b626b;
  font-size: 1rem;
  margin: 0 0 1rem 0;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-style: italic;
}

html[data-theme="dark"] blockquote {
  border-left: 6px solid #5c5d5f;
  background-color: #243950;
  color: #bcc3cc;
  box-shadow: none;
}

iframe {
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 10px;
  /* width: 100%; */
}

details {
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 1.3s ease;
  padding: 0.5em;
  transform: scale(1);
}

details:not([open]):hover {
  transform: scale(1.02);
  background-color: #362ecc74;
}

summary {
  font-weight: bold;
  cursor: pointer;
  position: relative;
  padding-right: 20px;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: 'â¯';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  transition: transform 0.3s ease;
}

details[open] summary::after {
  transform: translateY(-50%) rotate(270deg);
}

details:not([open]):hover {
  background-color: #362ecc74;
}

details>*:not(summary) {
  margin-top: 0.5em;
}

table {
  width: 100%;
}

.centered-cell {
  text-align: center;
  vertical-align: middle;
}

table a {
  color: #0477eb;
  text-decoration: none;
  transition: color 0.25s ease;
}

table a:hover {
  color: #049eeb;
  text-decoration: underline;
}

#elevatedbtn {
  font-family: Archivo Black;
  border: 4px solid #050137;
  border-radius: 12px;
  box-shadow: 4px 4px 0 #050137;
  box-sizing: border-box;
  transition: transform 0.1s ease;
}

/* #elevatedbtn:hover {
  transform: scale(1.01);
} */

/* Redundant since #ID is unique and is mounted for CN (default) and NOT for EN on mount */

#elevatedbtnEN {
  font-family: Archivo Black;
  border: 4px solid #050137;
  border-radius: 12px;
  box-shadow: 4px 4px 0 #050137;
  box-sizing: border-box;
}

article {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1440px) {
  .container {
    max-width: 90%;
  }
}

.no-footer footer {
  display: none;
}
